Package: com.nahtedetihw.watchfacewidget
Name: WatchFaceWidget
Depends: mobilesubstrate, com.dgh0st.hswidgets, com.spark.libsparkcolourpicker
Architecture: iphoneos-arm
Description: An awesome HSWidgets extension for WatchFace!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Addons (HSWidgets)
Version: 1.3
Installed-Size: 160
